 <ion-view title="Carworld Admin Log-In">
    <ion-content>
        <br><br><br><br><br><br><br><br>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
      </div>
      <div class="padding">
        <button nav-clear class="button button-block button-positive" ng-click="login()">
          Log-In
        </button>
     
      </div>
    </ion-content>
  </ion-view>
