<ion-view title="Carworld Pampanga" id="page2">
    <ion-content class="has-header">
        
            
            <a ui-sref="tabsController.individualDirectory({id: '1'})" >
            <div class="item item-text-wrap" id="item1"> 
                <h2 class="content">
                    LTO Registration and Plate Inquiries
                </h2>
            </div>
            </a>

            <a ui-sref="tabsController.individualDirectory({id: '2'})" >
            <div class="item item-text-wrap" id="item2"> 
                <h2 class="content">
                    Warranty Booklets, Manuals, Insurance Policy and Other Sales Documents Inquiries
                </h2>
            </div>
            </a>

           

            <a ui-sref="tabsController.individualDirectory({id: '4'})" >
             <div class="item item-text-wrap" id="item4"> 
                <h2 class="content">
                    Service Department Inquiries
                </h2>
            </div>
            </a>

            <a ui-sref="tabsController.individualDirectory({id: '5'})" >
             <div class="item item-text-wrap" id="item5"> 
                <h2 class="content">
                    For Service Appointment
                </h2>
            </div>
            </a>

            <a ui-sref="tabsController.individualDirectory({id: '6'})" >
             <div class="item item-text-wrap" id="item6"> 
                <h2 class="content">
                    Parts Department Inquiries
                </h2>
            </div>
            </a>
            
             <a ui-sref="tabsController.individualDirectory({id: '7'})" >
                 <div class="item item-text-wrap" id="item6"> 
                    <h2 class="content">
                        Sales Inquiries (Prices, Quotations And Promos)
                    </h2>
                </div>
            </a>
       

            <a ui-sref="tabsController.individualDirectory({id: '8'})" >
                <div class="item item-text-wrap" id="item3"> 
                    <h2 class="content">
                        For CGIC Insurance Renewal and Inquiries
                    </h2>
                </div>
            </a>

            <a ui-sref="tabsController.individualDirectory({id: '9'})" >
                <div class="item item-text-wrap" id="item3"> 
                    <h2 class="content">
                        For Trade-In
                    </h2>
                </div>
            </a>
        
            <br>



    </ion-content>
</ion-view>