<ion-view title="Carworld Pampanga" id="page3">
  <ion-content padding="true" class="has-header">

  <div class="background">
    
    <img src="img/cw-bkg.jpg" class="home-image" alt="" />
   
  </div> 

  <div class="home-logo">
      <div class="body-logo">
          <img src="img/cw-logo.png">
      </div>
  </div>

  <div class="body-home">
      <a  href="#" onclick="window.open('http://mitsubishicarworld.com.ph/', '_system', 'location=yes'); return false;" class="button  button-assertive btn-site">
        <div class="row">
           <span class="col-10 home-eagel"><img src="img/home-eagel.png"></span>
           <span class="separator col-1"></span>
           <span class="home-text col-85">Continue to site</span>
        </div>
      

      </a>  

      <a href="#" onClick="window.open('https://www.facebook.com/carworldpampanga','_blank','location=yes')" class="button button-positive btn-facebook">
        <div class="row">
           <span class="ion-social-facebook col-10 home-icon"></span>
           <span class="separator col-1"></span>
           <span class="home-text col-85">Continue using <strong>Facebook</strong></span>
        </div>
      </a>  
  </div>
  
  <!--
    <a href="#" onclick="window.open('http://mitsubishicarworld.com.ph/', '_system', 'location=yes'); return false;"> 
   <img class="web" src="img/web.png"></img>
   </a>
   <a href="#" onClick="window.open('https://www.facebook.com/MitsubishiCarworldPage','_blank','location=yes')"> 
  <img class="facebook" src="img/facebook.png"></img>
  </a>
  --> 

  </ion-content>
</ion-view>