<ion-view title="{{employee.department}}" id="page5">


  <ion-content  class="has-header"  scroll="true">
 
        <div id="container">
            <div id="timelineContainer">
                <!-- timeline background -->
                <div id="timelineBackground">
                    <img src="img/{{employee.level}}.jpg" class="bgImage">
                </div>

                
               

                <!-- timeline title -->
                <div id="timelineTitle">
                    <h3 class="profile-name">{{employee.department}}</h3>
                    <h5 class="profile-sub-name">{{employee.company}}</h5>
                </div>

                <!-- timeline nav -->
                <div id="timelineNav">
                    <div id="directoryIndividual-button-bar1" class="button-bar">
                        <a class="button button-light button-block" ng-href="tel: {{employee.mobile1_actual}}">
                            <button id="directoryIndividual-button5"  class="button button-light  button-block ">
                                
                                <i class="icon_custom ion-ios-telephone"></i>
                                <h5 id="button-profile">Call Mobile</h5>
                            
                            </button>
                        </a>
                        <a class="button button-light button-block" ng-href="sms: {{employee.mobile1_actual}}">
                            <button id="directoryIndividual-button6" class="button button-light  button-block icon">
                                <i class="icon_custom ion-android-textsms"></i>
                                <h5 id="button-profile">Send SMS</h5>
                            </button>
                        </a>
                        <a class="button button-light button-block" ng-href="mailto:{{employee.email1}}">
                            <button id="directoryIndividual-button7" class="button button-light  button-block">
                                <i class="icon_custom ion-email"></i>
                                <h5 id="button-profile">Send Email</h5>
                            </button>
                        </a>

                    </div>
                </div>

             </div>
        </div>  
       

        <h3 class="profile-details">
            <i class="icon_custom ion-android-phone-portrait" id="detail-icon"></i>
            Mobile Number : 
            <a class="contact_details" ng-href="tel: {{employee.mobile1_actual}}">
                <b>{{employee.mobile1}}</b>
            </a>
        </h3>
        
        <h3 class="profile-details">
            <i class="icon_custom ion-ios-telephone" id="detail-icon"></i>
            Landline : 
            <a class="contact_details" ng-href="tel: {{employee.telephone_actual}}">
                <b>{{employee.landline1}}</b>
            </a>
        </h3>
       
        <h3 class="profile-details">
             <i class="icon_custom ion-email" id="detail-icon"></i>
            Email : 
            <a class="contact_details" ng-href="mailto: {{employee.email1}}">
                <b>{{employee.email1}}</b>
            </a>
        </h3>
        
         <h3 class="profile-details" ng-show="employee.website">
             <i class="icon_custom ion-ios-world" id="detail-icon"></i>
            Website : 
            <span ng-show="employee.image == 'carmix'">
                <a class="contact_details" onclick="window.open('http://www.carmixlausgroup.com.ph', '_system', 'location=yes'); return false;" 
                    <b>{{employee.website}}</b>
                </a>
            </span>
            <span ng-show="employee.image == 'cgicoffice'">
                <a class="contact_details" onclick="window.open('http://www.cgic.com.ph', '_system', 'location=yes'); return false;" 
                    <b>{{employee.website}}</b>
                </a>
            </span>

        </h3>
        <br/>
        
        <div ng-show="employee.emp_name2">
            <h2 style="font-size: 14px; font-weight: bold; text-align: center;">                
                    Secondary Contact Person
                    
            </h2>
            <div class="list">

                

                <a class="item  item-icon-right second-text" ng-href="tel: {{employee.mobile2_actual}}">
                    Mobile Number : <b>{{employee.mobile2}}</b>
                    <i class="icon ion-android-phone-portrait second"></i>
                </a>
                <a class="item  item-icon-right second-text" ng-href="sms: {{employee.mobile2_actual}}">
                    SMS : <b>{{employee.mobile2}}</b>
                    <i class="icon ion-android-textsms second"></i>
                </a>
                <a ng-show="employee.mobile3_actual" class="item  item-icon-right second-text" ng-href="tel: {{employee.mobile3_actual}}">
                    Additional Mobile No. : <b>{{employee.mobile3}}</b>
                    <i class="icon ion-android-phone-portrait second"></i>
                </a>
                <a ng-show="employee.mobile3_actual" class="item  item-icon-right second-text" ng-href="sms: {{employee.mobile3_actual}}">
                    SMS Number : <b>{{employee.mobile3}}</b>
                    <i class="icon ion-android-textsms second"></i>
                </a>
                <a ng-show="employee.mobile4_actual" class="item  item-icon-right second-text" ng-href="tel: {{employee.mobile4_actual}}">
                    Additional Mobile No. : <b>{{employee.mobile4}}</b>
                    <i class="icon ion-android-phone-portrait second"></i>
                </a>
                <a ng-show="employee.mobile4_actual" class="item  item-icon-right second-text" ng-href="sms: {{employee.mobile4_actual}}">
                    SMS Number : <b>{{employee.mobile4}}</b>
                    <i class="icon ion-android-textsms second"></i>
                </a>

                <a ng-show="employee.telephone2" class="item  item-icon-right second-text" ng-href="tel: {{employee.telephone2}}">
                    Landline Number : <b>{{employee.telephone2}}</b>
                    <i class="icon ion-ios-telephone second"></i>
                </a>
                <a class="item  item-icon-right second-text" ng-href="mailto: {{employee.email2}}">
                    Email Address : <b>{{employee.email2}}</b>
                    <i class="icon ion-email second"></i>
                </a>

                
            </div>
            <br/>
        </div>

        
    
  </ion-content>
</ion-view>

  </ion-content>
</ion-view>